html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background-color: lightgrey;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}

.grid {
  /* width: 80%; */
  background-color: white;
  line-height: 0;
  margin: stretch;
  overflow: hidden;
  /* border: 3px black solid; */
  padding: 0;
  /* width: fit-content; */
}

.twitter-picker {
  position: absolute;
  align-self: center;
  float: right;
}